In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('/Users/mack/dev/ml/notebook/wine.csv')
data.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

In [3]:
data.describe()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
count,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000
mean,1.943503,12.993672,2.339887,2.366158,19.516949,99.587571,2.292260,2.023446,0.362316,1.586949,5.054802,0.956983,2.604294,745.096045
std,0.773991,0.808808,1.119314,0.275080,3.336071,14.174018,0.626465,0.998658,0.124653,0.571545,2.324446,0.229135,0.705103,314.884046
min,1.000000,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,1.000000,12.360000,1.600000,2.210000,17.200000,88.000000,1.740000,1.200000,0.270000,1.250000,3.210000,0.780000,1.930000,500.000000
50%,2.000000,13.050000,1.870000,2.360000,19.500000,98.000000,2.350000,2.130000,0.340000,1.550000,4.680000,0.960000,2.780000,672.000000
75%,3.000000,13.670000,3.100000,2.560000,21.500000,107.000000,2.800000,2.860000,0.440000,1.950000,6.200000,1.120000,3.170000,985.000000
max,3.000000,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

In [4]:
data.columns = ["Class","Alcohol", "Malic acid", "Ash" ,"Alcalinity of ash", "Magnesium","Total phenols","Flavanoids","Nonflavanoid phenols"
,"Proanthocyanins","Color intensity","Hue","OD280/OD315 of diluted wines","Proline"]

In [5]:
from sklearn.utils import shuffle
data = shuffle(data, random_state=15).reset_index(drop=True)

In [6]:
from sklearn.model_selection import train_test_split
y = data['Class']


from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
y_enc = enc.fit_transform(y)
from keras.utils import to_categorical
y_cat = to_categorical(y_enc)


X = data.drop('Class', axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y_cat, test_size=0.25)

Using TensorFlow backend.

In [7]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()

In [8]:
model.fit(X_train, y_train)

ValueError: bad input shape (132, 3)

In [ ]:
predicted = model.predict(X_test)

In [ ]:
print (np.mean(predicted == y_test))